accelerate
gensim
google-generativeai
gradio
langchain
langchain-openai
langchain_experimental
langchain_chroma
langchain[docarray]
numpy
matplotlib
ollama
openai
pandas
plotly
python-dotenv
requests
scikit-learn
scipy
torch
transformers

ipywidgets
jupyterlab
jupyter-dash
tqdm
tiktoken
faiss-cpu
datasets
anthropic
unstructured
chromadb
beautifulsoup4
pydub
modal
sentencepiece
bitsandbytes
psutil
setuptools
speedtest-cli
sentence_transformers
feedparser
